@import "~src/scss/theme-colors.scss";

.resources {    

    &__items {

        display: flex;
        overflow: scroll;        
        scrollbar-width: none;  
        padding-bottom: 11px;           

        &::-webkit-scrollbar {

            width: 0;
            height: 0;        
        }
    }
}
