
<div class="form">

  <div class="form__icon-box"></div>
  
  <div class="form__icon">
    <img src="assets/icons/bag.svg">
  </div>

  <div class="form__fields-box">
    
    <div class="form__footer">
      <button mat-fab color="primary">
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
    </div>

  </div>  

  <form class="form__fields">

    <!-- todo: make it a component -->
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Usuario">        
    </mat-form-field>            

    <mat-form-field appearance="legacy">
      <input matInput placeholder="Contraseña" type="password">      
    </mat-form-field>    

  </form>

</div>
