@import "~src/scss/theme-colors.scss";

$icon-box-length: 500px;
$fields-box-length: 350px;

.form {
    
    height: 100vh;  
    position: relative;  
    overflow: hidden;

    &__icon-box {

        position: absolute;        
        right: -210px;
        top: 20vh;
        transform: translateY(-50%) rotate(45deg);
        background-color: #EEEEF2;
        height: $icon-box-length;
        width: $icon-box-length;
        border-radius: 70px;
        content: "";
    }

    &__icon {  
        
        position: absolute;
        top: 30px;
        right: 20px;

        img {
            height: 160px;
        }
    }

    &__fields-box {
                        
        position: absolute;
        top: 500px;
        left: -150px;
        transform: translateY(-50%) rotate(45deg);
        background-color: #EEEEF2;
        height: $fields-box-length;
        width: 400px;
        border-radius: 50px;        
    }

    &__info {

        color: $primary;
        margin-bottom: 10px;
    }

    &__fields {
        
        position: absolute;
        top: 420px;        
        padding-left: 15px;

        & > * {
            display: block;
        }
    }

    &__footer {

        position: fixed;
        bottom: 30px;
        right: 20px;
    }    
}
