
<div class="form">

  <div class="form__icon-box mat-elevation-z8 "></div>
  
  <div class="form__icon">
    <img src="assets/icons/bag.svg">
  </div>

  <div class="form__fields-box mat-elevation-z8"></div>  

  <div class="form__fields">

    <div class="form__info mat-subheading-2">Inicia sesión</div>

    <app-log-in-form-field
      [formInput]="formConfig.user">      
    </app-log-in-form-field>

    <app-log-in-form-field
      [formInput]="formConfig.password">      
    </app-log-in-form-field>    

  </div>

  <div class="form__footer">
    <app-log-in-submit
      (onSubmit)="onSubmitHandler()">      
    </app-log-in-submit>
  <div>    

</div>
