@import "~src/scss/theme-colors.scss";
@import "~src/scss/typhography.scss";

.resource {

    background: $gray-2;        
    width: 250px;
    padding: 25px 15px;
    margin-right: 20px;
    border-radius: 7px;
    box-shadow: 4px 4px 15px $gray-1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__shared-amount {

        font-size: 15px;
        color: $black-1;
    }

    &__of {
        font-size: 15px;
        color: $black-1;  
    }

    &__available-stock {
        font-size: 23px;
    }
}