@import "~src/scss/theme-colors.scss";
@import "~src/scss/typhography.scss";

.resource {

    background: $gray-2;        
    width: 250px;
    padding: 25px 15px;
    margin: 7px 20px 7px 7px;
    border-radius: 7px;
    box-shadow: 4px 4px 8px $gray-1;
    background: $primary-light-3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__shared-amount {

        font-size: 15px;
    }

    &__of {
        font-size: 15px;
    }

    &__available-stock {
        font-size: 18px;
    }
}