
<div class="new-attendant">

  <app-event-management-menu>    
  </app-event-management-menu>

  <div class="new-attendant__input-container">        
    <app-event-management-attendant-input>      
    </app-event-management-attendant-input>        
  </div>

  <div class="new-attendant__summary-container">    
    <app-event-management-assigned-resources>
    </app-event-management-assigned-resources>
  </div>

  <div class="new-attendant__picker-container">    
    <app-event-management-resource-picker>      
    </app-event-management-resource-picker>    
  </div>
  
  <app-form-footer>    
  </app-form-footer>
  
</div>
