
<div class="new-attendant">

  <app-event-management-menu>    
  </app-event-management-menu>

  <div class="new-attendant__input-container">        
    <app-attendant-input-container
      [employeeIdControl]="employeeIdControl">      
    </app-attendant-input-container>    
  </div>  

  <div class="new-attendant__picker-container">    
    <app-resource-picker-container
      [assignedResourcesControl]="assignedResourcesControl">      
    </app-resource-picker-container>
  </div>
  
  <app-form-footer
    [disabled]="form.invalid"
    (onSubmit)="onSubmitHandler()">    
  </app-form-footer>
  
</div>
