@import "~src/scss/theme-colors.scss";

$side-padding: 35px;
$border-radius: 20px;

.new-attendant {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__input-container {
                
        display: flex;
        position: relative;        
        flex-direction: column;
        justify-content: center;  
        align-items: center;
        padding: 55px $side-padding 30px;       
    }    
    
    &__picker-container {        

        flex: 1 1 auto;
        min-height: 325px;
        position: relative;
        background-repeat: no-repeat;           
        
        &::after {
            
            content: '';            
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;             
            top: 0;
            left: 0;            
            background-image: url("../../../../assets/icons/unboxing-gift.svg");
            background-repeat: no-repeat;
            background-size: 210px;
            background-position: center bottom 20px;
        }
    }    
}

.custom-snackbar {
    
    width: 3000px;
}
