
<div class="picker">
    
    <div class="picker__toolbar mat-elevation-z3">
        <button mat-icon-button color="accent">
            <mat-icon>clear</mat-icon>
        </button>  
        
        <button mat-icon-button color="accent">
            <mat-icon>update</mat-icon>
        </button> 
    </div>

    <div class="picker__amount-bar"></div>
    
    <div class="picker__resources">

        <!-- replace with ng-for -->
        <div class="picker__resource">
            <app-event-management-resource-item>            
            </app-event-management-resource-item>
        </div>                

        <div class="picker__resource">
            <app-event-management-resource-item>            
            </app-event-management-resource-item>
        </div>                

    </div>            
   
</div>
