
<div class="summary">
    <app-event-management-assigned-resources
        [resources]="resources"
        [attendantResources]="attendantResources">
    </app-event-management-assigned-resources>
</div>

<div class="picker">    
    <div class="picker__toolbar mat-elevation-z3">
        <button mat-icon-button color="accent">
            <mat-icon>clear</mat-icon>
        </button>  
        
        <button mat-icon-button color="accent">
            <mat-icon>update</mat-icon>
        </button>
    </div>

    <div class="picker__amount-bar"></div>
    
    <div class="picker__resources">
        <div *ngFor="let resource of resources" class="picker__resource">
            <app-event-management-resource-item
                [resource]="resource"
                [quantity]="getResourceQuantity(resource.id)"
                (onAmauntChanged)="onAmountChangedHandler($event)">            
            </app-event-management-resource-item>
        </div>          
    </div>               
</div>
