
<div class="picker">
    <div class="picker__amount-bar"></div>
    <div class="picker__resources">

        <!-- replace with ng-for -->
        <div class="picker__resource">
            <app-event-management-resource-item>            
            </app-event-management-resource-item>
        </div>                

        <div class="picker__resource">
            <app-event-management-resource-item>            
            </app-event-management-resource-item>
        </div>                

    </div>
    <div class="picker__clear-button">
        <button mat-mini-fab color="accent">
            <mat-icon>clear</mat-icon>
        </button>        
    </div>
    <div class="picker__icon">
        <img src="assets/icons/handling-gift.svg">
    </div>
</div>
