
<mat-form-field class="form__input" 
                appearance="{{textInput.appearence}}"
                hideRequiredMarker="{{textInput.optional}}">                
    <mat-label>{{textInput.label}}</mat-label>
    <input matInput [formControl]="control" [required]="!textInput.optional">    
    <mat-icon matSuffix color="accent">{{textInput.icon}}</mat-icon>
    <mat-hint align="end">{{value?.length || 0}}/{{textInput.maxLength}}</mat-hint>
    <mat-error *ngIf="isInvalid">{{errorMessage}}</mat-error>
</mat-form-field>
