@import "~src/scss/theme-colors.scss";

.assigned-resource {

    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 4px 18px;    
    color: $primary;
    background-color: white;
    border: 2px solid $primary;
    margin: 10px 7px 0 0;
    border-radius: 20px;
    transition: all 0.5s ease; 

    &__icon {
        padding-left: 10px;
    }

    &--selected {        
        background-color: $primary-light-2;
        border: 2px solid $primary-light-2;
        color: white;  
    }
}