
<div class="details">
  
  <app-event-summary-attendant-rundown>
  </app-event-summary-attendant-rundown>

  <div class="details__specific-rundown">

    <app-event-summary-attendant-section
      [sectionName]="resourcesSectionName"> 

      <app-event-summary-resources>
      </app-event-summary-resources>     

    </app-event-summary-attendant-section>

    <app-event-summary-attendant-section
      [sectionName]="attendantsSectionName">

      <app-event-summary-attendants>
      </app-event-summary-attendants>

    </app-event-summary-attendant-section>    
    
  </div>

</div>
