@import "~src/scss/theme-colors.scss";

.icon {

    &--shape-circular {
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;
        background-color: $gray-1;     
        width: 65px;
        height: 65px;
        border-radius: 100%;        
    }

    &--size-large img {
        height: 60px;
    }

    &--size-small img {
        height: 42px;    
    }
}