
<!-- make an "stripped" card when its availabe quantity its 0 -->
<div class="resource">

  <div class="resource__flex-container">

      <div class="resource__left-content">        
        
        <div class="resource__name mat-body">
          {{name}}          
        </div>

        <div class="resource__icons">          
          <button mat-icon-button 
            [disabled]="controlsDisabledStatus"
            (click)="emitOnAmountChanged(plusOneUnit)">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>          
          
          <button mat-icon-button 
            [disabled]="oneUnitDownButtonDisabledStatus"
            (click)="emitOnAmountChanged(minusOneUnit)">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
           
          <div *ngIf="isFavorite">
            <mat-icon class="resource__favorite-icon">favorite</mat-icon>            
          </div>
        </div>

      </div>              
      
      <div class="resource__right-content" *ngIf="stock">                
        <div class="resource__available-quantity"
             [ngClass]="{'resource__available-quantity--disabled': controlsDisabledStatus}" >
          {{quantity.availableQuantity}}
        </div>        
      </div>
                          
  </div>

  <div class="resource__assigned-quantity mat-title">
    {{quantity.localQuantity}}
  </div>
</div>
