
<div class="resource">

  <div class="resource__container">

      <div class="resource__left-content">        
        
        <div class="resource__name mat-body">
          Beers
        </div>

        <div class="resource__icons">          
          <button mat-icon-button>
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>          
          
          <button mat-icon-button>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>          
        </div>
      </div>              
      
      <div class="resource__rigth-content">                
        <div class="resource__available-quantity">
          /20
        </div>
      </div>
                          
  </div>

  <div class="resource__assigned-quantity mat-title">
    0
  </div>
</div>
