@import "~src/scss/theme-colors.scss";
@import "~src/scss/typhography.scss";

.resource {
            
    height: 85px;
    padding: 0 10px;
    background: #eeeeee;    
    border-radius: 15px;
    position: relative; 

    &__flex-container {

        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        width: inherit;
    }

    &__left-content {

        display: flex;
        flex-direction: column;
    }

    &__favorite-icon {

        margin-left: 8px;
    }

    &__icons {

        display: flex;
        align-items: center;
    }
    
    &__name {

        padding-left: 10px;
        padding-bottom: 5px;
        font-size: 20px;
    }

    &__available-quantity {

        font-size: $numeric-title-font-size;
        font-family: $numeric-font-family;
        background: $main-color-gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        &--disabled {            
            color: $warn;
            -webkit-text-fill-color: unset;
        }
    }
    
    &__assigned-quantity {                

        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        text-align: center;
        width: 39px;
        left: -59px;
        background: $main-color-gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;        
    }    
}