
<div class="inputs">

    <div class="inputs__icon">
      <app-add-event-section-icon
        [source]="iconLink">
      </app-add-event-section-icon>
    </div>
  
    <div class="inputs__header">
        <h3 class="inputs__title mat-subheading-2">
            Materiales
        </h3>
          
        <h3 class="inputs__amount mat-subheading-2">
          0.
        </h3>
    </div>  
  
    <!-- todo: loop of resource items -->
  
    <div class="inputs__item-list">
      <app-add-event-new-item
        [itemTitle]="itemTitle">  
      </app-add-event-new-item>
    </div>
  
  </div>