@import "~src/scss/theme-colors.scss";

.inputs {    

    position: relative;
    
    &__icon {
        position: absolute;
        display: flex;
        justify-content: center;
        top: -60px;
        width: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: $secondary;
    }

    &__amount {
        padding-right: 15px;
        color: $secondary;
        display: inline;        
    }
}