
<!-- form inputs -->
<div class="form">
        
    <div class="form__text-inputs-box">
                
        <mat-card>

            <mat-form-field class="form__input"
                appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput>
            </mat-form-field>

            <!-- set this field margin to 0 -->
            <mat-form-field class="form__input"
                appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput>
            </mat-form-field>

        </mat-card>            
    </div>    

    <div class="form__resources">
        <app-add-event-resources>        
        </app-add-event-resources>
    </div>

    <div class="form__inputs">

    </div>

</div>
<!-- form resources -->
<!-- form inputs -->
<!-- save button -->
