$form-padding: 30px;

.form {    

    &__text-inputs {
        padding: $form-padding;
        border-bottom: solid 1px;
    }

    &__input {
        width: 100%;            
    }

    &__resources {
        padding: $form-padding;
        border-bottom: solid 1px;
    }
}