@import "~src/scss/theme-colors.scss";

.form {
    
    &__text-inputs-section {       
        background-color: rgba(black, 0.035); 
        padding: 30px 30px 50px;
        border-bottom: solid rgba(black, 0.2) 1px;        
    }

    &__input {
        width: 100%;            
    }

    &__section {
        padding: 25px 15px 50px;        

        &--divider {
            border-bottom: solid rgba(black, 0.2) 1px;
        }

        &--last-child {
            // todo: set the margin dinamically
            // margin-bottom: 10px; 
        }
    }

    &__footer {
        display: flex;
        width: 100%;
        justify-content: center;        
        padding: 15px;        
        background: darken(white, 5%);               
        position: absolute;
        bottom: 0px;
    }
}