@import "~src/scss/theme-colors.scss";

$form-padding: 30px;

.form {    

    &__text-inputs-box {       
        background-color: rgba(black, 0.05); 
        padding: $form-padding;
        border-bottom: solid rgba(black, 0.2) 1px;        
    }

    &__input {
        width: 100%;            
    }

    &__resources {
        padding: $form-padding;
        border-bottom: solid rgba(black, 0.2) 1px;
    }
}