<div class="form">

    <div class="form__body">

        <div class="form__text-inputs-section">

            <mat-card>
                <mat-form-field class="form__input" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                    <mat-icon matSuffix color="accent">label_outline</mat-icon>
                </mat-form-field>

                <mat-form-field class="form__input" style="margin-bottom: -1.25em" appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <input matInput>
                    <mat-icon matSuffix color="accent">short_text</mat-icon>
                </mat-form-field>
            </mat-card>

        </div>

        <div class="form__section form__section--divider">
            <app-add-event-resources>
            </app-add-event-resources>
        </div>

        <div class="form__section form__section--last-child">
            <app-add-event-inputs>
            </app-add-event-inputs>
        </div>

    </div>

    <div class="form__footer">
        <button mat-fab>
            <mat-icon>send</mat-icon>
        </button>
    </div>

</div>