
<!-- form inputs -->
<div class="form">
    
    <div class="form__text-inputs">

        <mat-form-field class="form__input"
            appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="form__input"
            appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput>
        </mat-form-field>

    </div>

    <div class="form__resources">

    </div>

    <div class="form__inputs">

    </div>

</div>
<!-- form resources -->
<!-- form inputs -->
<!-- save button -->
