@import '~@angular/material/theming';   
@import '~src/scss/abstracts/mixins.scss';

.feedback-dialog-content {    

    &--display-flex {
        
        @include flexbox-centered-layout;        
    }

    &__message {           
        
        text-align: center;
        padding-top: 10px;
        &:not(:last-child) {
            margin: 10px 0 30px
        };        
    }

    &__icon {

        img {
            height: 70px;
        }        
    }
}