@import '~@angular/material/theming';
@import "~src/scss/theme-colors.scss";

.selection-box {

    border: 2px dashed $primary;
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px;
    background-color: rgba(black, 0.05);

    &__message {
        color: $primary;
        text-align: center;                
    }
}