@import "~src/scss/theme-colors.scss";
@import "~src/scss/typhography.scss";

$form-padding: 10px;

.form {

    height: 100vh;

    &__title {
        
        font-size: $title-font-size;
        font-family: $title-font-family;
        text-align: center;

        color: $primary;
        border-bottom: solid 1px;
        padding: $form-padding;
    }    
}