@import "~src/scss/theme-colors.scss";

$form-padding: 20px;

.form {

    height: 100vh;

    &__title {
        background-color: $primary;
        color: white;
        border-bottom: solid 1px;
        padding: $form-padding $form-padding 0 $form-padding;
    }
}