
<div class="item">
  
  <div class="item__content">
      <div class="item__name mat-body-strong">Cervezas</div>
  </div>

  <div class="item__controls">      
    
    <mat-icon color="warn" class="item__favorite">favorite_border</mat-icon>

    <button mat-icon-button>
      <mat-icon color="primary" class="item__icon item__icon--color-indigo">brush</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon color="primary" class="item__icon item__icon--color-indigo">delete_outline</mat-icon>
    </button>

  </div>

</div>
