
<div mat-dialog-content class="feedback-dialog-content">  

  <ng-template [ngIf]="responseSucceed" [ngIfElse]="failure">
    
    <div class="feedback-dialog-content--display-flex">

      <div class="event-dialog-content__intent">
        <app-add-event-section-icon [source]="succeessIconLink" [size]="size">
        </app-add-event-section-icon>
      </div>
      
      <h3 class="feedback-dialog-content__message mat-subheading-2">
        Se guardó el evento.
      </h3>            
      
      <button mat-stroked-button color="primary" class="feedback-dialog-content__button">
        Gestionar
      </button>

    </div>
    
  </ng-template>  
  
  <ng-template #failure>

      <div class="feedback-dialog-content--display-flex">

        <div class="event-dialog-content__intent">
          <app-add-event-section-icon [source]="failureIconLink" [size]="size">
          </app-add-event-section-icon>
        </div>
    
        <h3 class="feedback-dialog-content__message mat-subheading-2">
          Oops! algo ocurrio mal, <br> intentalo de nuevo.
        </h3>

      </div>
      
  </ng-template>

</div>
