<div mat-dialog-content class="event-dialog-content">

  <div class="event-dialog-content__intent">
    <app-add-event-section-icon [source]="iconLink" [size]="size">
    </app-add-event-section-icon>
  </div>

  <app-default-text-input
      [textInput]="formConfig.name">                    
  </app-default-text-input>

  <app-default-text-input
      [textInput]="formConfig.description">                    
  </app-default-text-input>  

  <app-default-numeric-input
      [textInput]="formConfig.price">
  </app-default-numeric-input>  

  <app-add-event-amount>  
  </app-add-event-amount>

</div>

<div mat-dialog-actions align="center" class="event-dialog-actions">
  <button mat-fab>
    <mat-icon>save</mat-icon>
  </button>
</div>