@import "~src/scss/material-theme.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    height: 100vh;
    border-bottom: 1rem;
    // font-size: 62.5%;   // 1rem = 10px
}

body {
    box-sizing: border-box;
}